li {
    list-style: none;
    font-size: 15px;
    padding: 3%; 
    margin: 5px 5px 0 0;
    cursor: pointer;
}
li:hover {
    background-color: rgba(189, 189, 189, 0.432);
    padding: 3%;
    border-radius: 5px;
}
ul {
    padding-left: 10px;
}
img {
    width: 20px;
    height: 20px;
    margin-right: 7%;
}

.login {
    width: 35%;
    height: 10%;
    color: blue;
    border: 1px solid rgb(183, 182, 182);
    border-radius: 50px;
}
.login:hover {
    width: 35%;
    height: 10%;
    color: blue;
    background-color: rgba(127, 127, 251, 0.452);
    border: 1px solid rgb(183, 182, 182);
    border-radius: 50px;
}
.login img {
    float: left;
}